div
{ border: 10px;
	background-color: ;
	position: absolute;
	margin-right: : dashed;
	margin-left: 89px;
	padding-left: ;
	color: ;
	background: ;
	background-color: ;
	border-image: 
	background-image:url('');
*/ }